@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --sideBGColor: #040B14;
    --themeColor: #00A78E;
    --iconBGColor: #2C2F3F;
    --textColor: #525252;
    --bgColor: #F7F7F7;
}

header {
    height: 100vh;
    width: 18.75em;
    padding: 1em 2em;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: 99;
}

.profile {
    text-align: center;
    margin: 0.625em 0;
}

.profile img {
    width: 9.375em;
    border-radius: 50%;
    border: 0.625em solid var(--iconBGColor);
}

.profile h1 {
    padding: 0.3em;
}

.profile h1 a {
    color: white;
    font-weight: 600;
    font-family: 'Condiment', sans-serif;
    text-decoration: none;
}

.profile h1 a:hover {
    color: #00A78E;
}


.social-icons a {
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    line-height: 37px;
    background-color: var(--iconBGColor);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}

.social-icons a:hover {
    background-color: var(--themeColor);
}

header nav {
    margin-top: 30px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: white;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

.nav-icon {
    margin-right: 20px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover {
    color: var(--themeColor)
}

header nav ul li .active {
    color: var(--themeColor);
}

.footer {
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: white;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

#MenuBtn {
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    display: none;
    z-index: 999;
}

.mobile-nav-active header {
    left: 0;
}

.mobile-nav-active header .footer {
    left: 0;
}

@media only screen and (max-width: 1050px) {
    header {
        left: -300px;
    }

    .footer {
        left: -300px;
        display: none;
    }

    #MenuBtn {
        display: block;
    }
}

main {
    margin-left: 18.75em;
    background-color: var(--bgColor);
    transition: 0.3s;
}

@media only screen and (max-width: 1050px) {
    main {
        margin-left: 0;
    }
}

#home {
    height: 100vh;
    width: 100%;
    background-image: url(./src/img/background-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.375em;
    position: relative;
}

#home::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}

.home-row {
    z-index: 1;
}

.home-row h1 {
    font-size: 60px;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}

.home-row h1 span {
    color: var(--themeColor);
}

.home-row p {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.home-row p span {
    border-bottom: 4px solid var(--themeColor);
}

@media only screen and (max-width: 670px) {
    #home {
        padding: 1.875em;
    }

    .home-row h1 {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 50px;
    }

    .home-row h1 br {
        display: none;
    }

    .home-row p {
        color: white;
        font-size: 15px;
        font-weight: 400;
    }
}

#about {
    padding: 70px 30px;
}

.sub-heading {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

.divider {
    width: 100%;
    height: 4px;
    background-color: #00A78E;
    border: 3px;
}

#about .divider~p {
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: justify;
}

.about-col {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.img-col {
    flex-basis: 35%;
    text-align: center;
}

.img-col img {
    width: 100%;
    border-radius: 50%;
}

.info-col {
    flex-basis: 70%;
}

.info-col h2 {
    color: #00A78E;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-top: -10px;
}

.info-col p {
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #525252;
    font-style: italic;
    text-align: justify;
}

.icon-list-col {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.icon-list ul li {
    list-style: none;
    margin: 15px 0;
}

.icon-list ul li i {
    color: #00A78E;
}

.icon-list ul li strong {
    color: var(--sideBGColor);
    font-weight: 600;
    margin-right: 2px;
}

.icon-list ul li span {
    color: var(--textColor);
    font-weight: 500;
}

@media only screen and (max-width: 850px) {
    #about {
        padding: 50px 15px;
    }

    .divider~p {
        font-size: 14px;
        letter-spacing: 0px;
    }

    .about-col {
        flex-direction: column;
    }

    .img-col img {
        width: 50%;
    }

    .info-col h2 {
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 0px;
        text-align: center;
    }

    .info-col p {
        font-size: 14px;
        letter-spacing: 0px;
    }

    .icon-list-col {
        flex-direction: column;
        gap: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .img-col img {
        width: 90%;
    }
}

.sub-heading-skill {
    padding-top: 2.5em;
}

#skill {
    padding: 70px 30px;
    padding-top: 0px;
}

#skill .divider~p {
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-top: 15px;
    text-align: justify;
}

.skill-row {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.skill-box .skill-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.skill-info h2 {
    color: var(--sideBGColor);
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-info i {
    font-size: 30px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-outter-line {
    width: 100%;
    height: 10px;
    background-color: lightgray;
    border-radius: 15px;
}

.skill-inner-line {
    height: 10px;
    background-color: #00A78E;
    border-radius: 15px;
}

@media only screen and (max-width: 450px) {
    #skill {
        padding: 50px 15px;
    }

    .skill-row {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

#portfolio {
    padding: 70px 30px;
    padding-top: 30px;
}

#portfolio .divider~p {
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-top: 15px;
    text-align: justify;
}

.port-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.port-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
}

.port-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 80%);
}

.port-img {
    margin-bottom: -7px;
}

.port-img img {
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.port-info {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.port-btn i {
    padding: 0.5em;
    background-color: var(--iconBGColor);
    color: white;
    font-size: 20px;
    border-radius: 50%;
}

.port-btn i:hover {
    background-color: #00A78E;
}

@media only screen and (max-width: 850px) {
    #portfolio {
        padding: 50px 15px;
    }

    .port-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .port-row {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 290px) {
    .port-btn i {
        padding: 0.2em;
    }
}

#contact {
    padding: 70px 30px;
    padding-top: 30px;
    padding-bottom: 40px;
}

#contact .divider~p {
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-top: 15px;
    text-align: justify;
}

.contact-row {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.contact-left {
    display: flex;
    flex-direction: column;
    flex-basis: 38.5%;
    min-width: 38.5%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    border-radius: 8px;
    padding: 30px;
    justify-content: center;
}

.icon-box {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}

.icon i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    color: var(--themeColor);
    transition: 0.5s;
}

.icon i:hover {
    background-color: var(--themeColor);
    color: var(--bgColor);
    cursor: pointer;
}

.info p {
    color: var(--textColor);
}

.info a {
    text-decoration: none;
    color: var(--textColor);
}

.info a:hover {
    color: #00A78E;
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .info a {
        text-decoration: underline;
    }
}

.map iframe {
    border-radius: 8px;
}

.contact-right {
    flex-basis: 60%;
    min-width: 60%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    border-radius: 8px;
    padding: 30px;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    color: var(--textColor);
    padding: 10px 20px;
    border: 2px solid lightgray;
    border-radius: 8px;
    outline: none;
    resize: none;
    transition: 0.5s;
}

.contact-right input:focus,
.contact-right textarea:focus {
    border: 2px solid var(--themeColor);
}

.contact-right input[type="submit"] {
    background-color: #00A78E;
    color: #2C2F3F;
    border: none;
    cursor: pointer;
}

.contact-right input[type="submit"]:hover {
    background-color: #008a75;
    color: white;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    #contact {
        padding: 50px 15px;
    }

    .contact-row {
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (min-width: 1920px) {

    #home,
    #about,
    #skill,
    #portfolio,
    #contact {
        padding-left: 10em;
        padding-right: 10em;
    }

    .contact-right form {
        gap: 50px 0;
    }

    .icon-box {
        margin: 54px 0;
    }
}